<!DOCTYPE html>
<html>
<body>
Alle links verwijzen naar dezelfde pagina, this maar een demo... <br/>

<table style="width:100%">
  <tr>
    <td>Dansen</td>
    <td>Antwerpen</td>		
    <td><a href="demo_event">link naar pagina </a></td>
  </tr>
  <tr>
    <td>Basket</td>
    <td>Gent</td>		
    <td><a href="demo_event">link naar pagina </a></td>
  </tr>
  <tr>
    <td>Thee drinken</td>
    <td>Budapest</td>		
    <td><a href="demo_event">link naar pagina </a></td>
  </tr>
</table>

</body>
</html>
