<script src="js/eventApp.js"></script>


<div class="EventsTable" data-ng-controller="EventController">
	<div class="EventsContainer" data-ng-repeat="ev in allEvents | orderBy: date | limitTo:9">
		  <div class="EventImage">
		  	<img ng-src="{{ev.img}}" alt="Try again later"/>
		  </div>
		  <div class="EventRight">
		  	<h2>{{ev.eventName}}</h2>
		  	<ul>
		  		<li style="text-align:left;padding-right:0; ">{{ev.eventTimeStart}}</li>
		  		<li style="text-align:right;padding-left:0;">{{ev.location}}</li>
		  	</ul>	
		  	<div class="EventLikes">
		  	<br/>
			  	<ul>
			  		<li>{{ev.likes}} likes</li>
			  		<li>{{ev.shares}} shares</li>
			  		<li><button ng-click="resultEvent(ev.eventID)">More</button></li>
			  	</ul>
		  	</div>
		  </div>
	</div>
	
	
	<div class="EventsContainer_mobile" data-ng-repeat="ev in events | orderBy: date | limitTo:3">
		  <div class="EventImage">
		  	<img ng-src="{{ev.img}}" alt="Try again later"/>
		  </div>
		  <div class="EventRight_mobile">
		  <h2>{{ev.name}}</h2>
		  <ul>
		  		<li>{{ev.date}}</li>
		  		<li>{{ev.place}}</li>
		  	</ul>	</div>
		  <div class="EventLikes_mobile">
		  	<ul>
			  		<li>{{ev.likes}} likes</li>
			  		<li>{{ev.shares}} shares</li>
			  		<li><button>More</button></li>
			  	</ul>
		  </div>
	</div>
</div>