<!DOCTYPE html>
<html data-ng-app="loginApp">

  <head>
  
  	<title>Dibs | Register Admin</title>
  	<!-- Meta -->
  	<meta charset="UTF-8"></meta>
	<!--Default zoom for mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<meta name="author" content="Mousti, Laura, Simon en Stephanie"/>
	<meta http-equiv="pragma" content="no-cache"/>
  	
  	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'></link>
	
    <!-- CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles_login2.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles_login_mobile.css"/>
   
    <!--Bootstrap-->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!-- Angular + facebook -->
    <script data-require="angular.js@1.1.5" data-semver="1.1.5" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script src="js/angular-facebook.js"></script>
    <script src="js/loginStephanie.js"></script>
    
    <!-- Glyphicon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    
	<!-- Mobiele Navbar -->
	<script>
		$(document).on('click', '#toggle', function() {
    		$(this).toggleClass('active');
			$('#overlay').toggleClass('open');
		});
	</script>
  </head>

  <body data-ng-controller="MainController">  
  <div class="mobile_NavBar">
	<div class="button_container" id="toggle">
	  <span class="top"></span>
	  <span class="middle"></span>
	  <span class="bottom"></span>
	</div>
	
	<div class="overlay" id="overlay">
	  <nav class="overlay-menu">
	    <ul data-ng-controller="MainController">
	    	<li><a href="index.html">Home</a></li>

	      	<li data-menuanchor="Pag2" ng-if="!logged"><a href="userOrAdmin?login=true">Login</a></li>
			<li data-menuanchor="Pag3" ng-if="!logged"><a href="userOrAdmin?login=false">Register</a></li>
			<li data-menuanchor="Pag4" ng-if="logged"><a data-ng-controller="MainController" ng-click="MyProfile()"><img id="fbPhoto" ng-src="{{user.userPhotoPath}}"/> Profile</a></li>
			<li data-menuanchor="Pag5" ng-if="logged"><a ng-click="logout()">Logout</a></li>
	    </ul>
	  </nav>
	</div>
</div>
         
          <form id="login-form" data-ng-controller="RegisterController">
           <div class="heading">Contact us!</div>
           <div class="content content-admin" style="margin:auto;width:80%;">
	           <div class="form-group">
	            	<LABEL for="firstname">First name: </LABEL>
	              	<INPUT class="form-control" ng-model="firstname" type="text" id="firstname"/><BR/>
	            </div>
	            <div class="form-group">
			    	<LABEL for="lastname">Last name: </LABEL>
			        <INPUT class="form-control" ng-model="lastname" type="text" id="lastname"/><BR/>
		        </div>
		        <div class="form-group">
		   			 <LABEL for="email">email: </LABEL>
		              <INPUT class="form-control" ng-model="email" type="text" id="email"/><BR/>
		        </div>
		        <div class="form-group">
		        	<LABEL for="Company Name">Company Name: </LABEL>
		             <INPUT class="form-control" ng-model="companyName" type="text" id="email"/><BR/>
		        </div>
		        <div class="form-group">
		        	<LABEL for="Message">Message: </LABEL>
		             <textarea class="form-control" ng-model="message" rows="10" type="text" id="message"></textarea><BR/>
		        </div>
		        <div class="form-submit-reset">
				    <INPUT type="submit" value="Send" ng-click="sendMail()"/> 
				    <INPUT type="reset" value="Reset"/>
			    </div>
			  </div>
		   </form>  

          
     
    <script>
  		
    </script>
  </body>
  

</html>

